@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

header {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #f05454;
}

header strong {
  font-family: "Lobster", cursive;
  color: #222831;
  font-size: 2rem;
}

.header {
  &__title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  &__total-price {
    font-size: 1rem;
    font-weight: 800;
  }

  &__cart-container {
    position: absolute;
    border: 2px solid black;
    box-sizing: border-box;
    left: 0;
    height: 4rem;
    padding: 0 0.4rem;

    &-top {
      display: flex;
      height: 50%;
      justify-content: center;
      align-items: center;
    }

    &-bottom {
      display: flex;
      height: 50%;
      justify-content: center;
      align-items: center;
    }
  }

  &__counter-cicle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 12px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: yellow;
    color: black;
    font-weight: bold;
  }
}
